POSTGRES_DB=rajawali_v2
POSTGRES_USER=rajawali
POSTGRES_PASSWORD=rajawali_local_only
POSTGRES_PORT=5432
API_PORT=8000

REDIS_PORT=6379

MINIO_ROOT_USER=rajawali
MINIO_ROOT_PASSWORD=rajawali_local_only
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025
